extends layout

block content
    div#rootElement.signup.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--no-drawer-button.mdl-color--grey-100
        header.mdl-layout__header
            div.mdl-layout__header-row
                span.mdl-layout-title #{title}

        main
            p bb(^^)ﾉｼ
            p
                a(href="/login") Re-Login